@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Oops..! Looks like you have entered a wrong username or password! Please Try Again</h3>
<div>
    <a asp-controller="UserLogins" asp-action="Login">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}